# Pandas : Chewing through a bamboo forest of data

# Anne Regel 
### *Twitter: @RegelAr*
### *GitHub: mtchem*
### *Linkedin: https://www.linkedin.com/in/anne-regel-phd-2943a061/ *

### Outline
1. Some Background
2. Anatomy of a Pandas Dataframe
3. Importing Data
4. Selecting and Smushing Dataframes
5. Accessing Info in Dataframes
6. Dataframe Methods for Cleaning/Analyzing Data

## Background
### Pandas is an open source library (https://github.com/pandas-dev/pandas) being developed with the goal of being *the most powerful and flexible open source data analysis / manipulation tool available in any language.*  It's primary functionality revolves around the dataframe object, and it has many of the data manipulation and analysis functionality of R dataframes.

## Anatomy of a Pandas Dataframe

![title](images/dataframe_anatomy.png)

## Import Pandas Library

In [19]:
import pandas as pd

In [20]:
# other imports
import sqlite3 as sql
import numpy as np

## Importing Data

In [68]:
# dictionary
dictionary = {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}

# Dataframe from a dictionary
df_dict = pd.DataFrame(dictionary)
df_dict.head()

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [22]:
# numpy array
numpy_arr = np.array([(1,2.,'Hello'), (2,3.,"World")], dtype=[('foo', 'i4'),('bar', 'f4'), ('baz', 'S10')])

# dataframe from a numpy array
df_numpy = pd.DataFrame(numpy_arr)

In [23]:
# dataframe from a csv
df_csv = pd.read_csv('Tutorials/Pandas/data/Iris.csv')

In [26]:
# dataframe from an excel workbook
df_excel = pd.read_excel('Tutorials/Pandas/data/2012_games.xlsm')

In [69]:
website = 'URL of a website with at least one table'
# list of dataframes from a website
list_of_df_website = pd.read_html(website) #returns a list of dataframes

# first dataframe in list
df_html = list_of_df_website[0]
df_html.head()

,AFC North,W,L,T,PCT,GB,PF,PA,Home,Away,Conf,Div,STRK,Unnamed: 13,Unnamed: 14
0,NaN,Baltimore Ravens,Ravens,2,0,0,1.0,-,44,10,1-0-0,1-0-0,2-0-0,2-0-0,W2
1,NaN,Pittsburgh Steelers,Steelers,2,0,0,1.0,-,47,27,1-0-0,1-0-0,1-0-0,1-0-0,W2
2,NaN,Cincinnati Bengals,Bengals,0,2,0,0.0,2.0,9,33,0-2-0,0-0-0,0-2-0,0-1-0,L2
3,NaN,Cleveland Browns,Browns,0,2,0,0.0,2.0,28,45,0-1-0,0-1-0,0-2-0,0-2-0,L2

In [30]:
# From SQL database
db = Path to database # make a variable containing the file path (as a raw string) to your data.db file, below is an example
conn = sql.connect(db) # make a connection to the database
SQL_str = 'SQL query' #create a SQL query
df_sql= pd.read_sql_query(SQL_str, conn) # read data into dataframe
conn.close() #close connection

In [ ]:
# From HDF5 (Hierarchical Data Format)
pd.read_hdf('hdf_file','name of dataframe')

## Selecting and Smushing Dataframes

### *Looking around*

In [70]:
# prints the first 5 rows
df_csv.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalWidthM
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.035
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.030
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.032
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.031
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.036

In [32]:
df_excel.tail() # shows you the last 5 rows

,date,H_team,A_team,arena,H_score,A_score,winner,loser,g_type,conf,...,A_foul,H_of,H_df,A_of,H_oR,H_dR,A_oR,A_dR,H_Tf,A_Tu
10194,2012-01-08,Yale Bulldogs,St. Joseph's (NY),NaN,101,86,Yale Bulldogs,St. Joseph's (NY),REG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3615,2012-01-27,Yale Bulldogs,Harvard,John J. Lee Ampitheater,35,65,Harvard,Yale Bulldogs,REG,John J. Lee Ampitheater,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5979,2012-02-11,Columbia,Yale Bulldogs,Levien Gym,58,59,Yale Bulldogs,Columbia,REG,Levien Gym,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6955,2011-12-06,Youngstown State Penguins,Fredonia State,Beeghly Center,69,35,Youngstown State Penguins,Fredonia State,REG,Beeghly Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7171,2012-01-07,Youngstown State Penguins,Illinois-Chicago,Beeghly Center,71,50,Youngstown State Penguins,Illinois-Chicago,REG,Beeghly Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_csv.head(2) # returns the first 10 rows
df_csv.head(-10) # returns all rows UNTIL the -10th row
df_csv.tail(10) # returns last 10 rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalWidthM
140,141,6.7,3.1,5.6,2.4,Iris-virginica,0.031
141,142,6.9,3.1,5.1,2.3,Iris-virginica,0.031
142,143,5.8,2.7,5.1,1.9,Iris-virginica,0.027
143,144,6.8,3.2,5.9,2.3,Iris-virginica,0.032
144,145,6.7,3.3,5.7,2.5,Iris-virginica,0.033
145,146,6.7,3.0,5.2,2.3,Iris-virginica,0.030
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0.025
147,148,6.5,3.0,5.2,2.0,Iris-virginica,0.030
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0.034
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0.030

In [76]:
# lists the columns
df_csv.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'SepalWidthM'],
      dtype='object')

### *Selecting and Adding Columns*

In [80]:
# select one column from a dataframe using
species = df_csv.Species # dot notation
species = df_csv['Species'] # bracket notation
print(species[:5])
print(type(species))

# Both result in an iterable series

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object
<class 'pandas.core.series.Series'>

In [36]:
# select multiple columns from a dataframe
two_columns = df_csv[['Species', 'Id']] #double brackets
print(two_columns.head())
print(type(two_columns)) # returns a pandas dataframe

       Species  Id
0  Iris-setosa   1
1  Iris-setosa   2
2  Iris-setosa   3
3  Iris-setosa   4
4  Iris-setosa   5
<class 'pandas.core.frame.DataFrame'>

In [81]:
# adding another column to a dataframe
df_csv['SepalWidthM'] = df_csv.SepalWidthCm/100
df_csv.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalWidthM
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.035
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.030
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.032
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.031
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.036

### *Smushing Dataframes Together*

In [82]:
# create some example dataframes (these examples are from pandas documentation https://pandas.pydata.org/pandas-docs/stable/merging.html)
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                   'D': ['D8', 'D9', 'D10', 'D11']})

#### Concatenate

In [91]:
pd.concat([df1, df2]) # adds them together, keeps original index
pd.concat([df1, df2], ignore_index=True) # adds them together, creates new index
x =pd.concat([df1, df2], keys=['df1', 'df2']) # adds them together, creates hierarchial index for each original dataframe
pd.concat([df1, df2], keys=['df1', 'df2'], names = ['dataframe name', 'Original Index'])
x.to_dict()
# for more complicated concats https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html

{'A': {('df1', 0): 'A0',
  ('df1', 1): 'A1',
  ('df1', 2): 'A2',
  ('df1', 3): 'A3',
  ('df2', 0): 'A4',
  ('df2', 1): 'A5',
  ('df2', 2): 'A6',
  ('df2', 3): 'A7'},
 'B': {('df1', 0): 'B0',
  ('df1', 1): 'B1',
  ('df1', 2): 'B2',
  ('df1', 3): 'B3',
  ('df2', 0): 'B4',
  ('df2', 1): 'B5',
  ('df2', 2): 'B6',
  ('df2', 3): 'B7'},
 'C': {('df1', 0): 'C0',
  ('df1', 1): 'C1',
  ('df1', 2): 'C2',
  ('df1', 3): 'C3',
  ('df2', 0): 'C4',
  ('df2', 1): 'C5',
  ('df2', 2): 'C6',
  ('df2', 3): 'C7'},
 'D': {('df1', 0): 'D0',
  ('df1', 1): 'D1',
  ('df1', 2): 'D2',
  ('df1', 3): 'D3',
  ('df2', 0): 'D0',
  ('df2', 1): 'D1',
  ('df2', 2): 'D2',
  ('df2', 3): 'D3'}}

#### Append

In [93]:
df1.append(df2)
df1.append(df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D0
1  A5  B5  C5  D1
2  A6  B6  C6  D2
3  A7  B7  C7  D3

#### Join
Again, there are a lot of ways to use join, I'm only going over a few. You can find more info at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html#pandas.DataFrame.join

In [94]:
df1.join(df2, lsuffix = 'df1', rsuffix = 'df2') #joins on the index
df1.join(df2, lsuffix = 'df1', rsuffix = 'df2', how = 'inner')

  Adf1 Bdf1 Cdf1 Ddf1 Adf2 Bdf2 Cdf2 Ddf2
0   A0   B0   C0   D0   A4   B4   C4   D0
1   A1   B1   C1   D1   A5   B5   C5   D1
2   A2   B2   C2   D2   A6   B6   C6   D2
3   A3   B3   C3   D3   A7   B7   C7   D3

#### Merge
There are a lot of possible parameters, I will only be going over a few simple examples

In [95]:
# add a Key column to df1 and df2
df1['Key1'] = ['da', 'de', 'doo', 'dell']
df2['Key2'] = ['doo', 'de', 'x', 'y']

In [99]:
df1.merge(df2, left_on = 'Key1', right_on = 'Key2')
df1.merge(df2, left_on = 'Key1', right_on = 'Key2', how = 'outer')
df1.merge(df2, left_on = 'Key1', right_on = 'Key2', how = 'left')

  A_x B_x C_x D_x  Key1  A_y  B_y  C_y  D_y Key2
0  A0  B0  C0  D0    da  NaN  NaN  NaN  NaN  NaN
1  A1  B1  C1  D1    de   A5   B5   C5   D1   de
2  A2  B2  C2  D2   doo   A4   B4   C4   D0  doo
3  A3  B3  C3  D3  dell  NaN  NaN  NaN  NaN  NaN

### Accessing Info in Dataframes

In [100]:
# one column
df1.A

0    A0
1    A1
2    A2
3    A3
Name: A, dtype: object

In [101]:
# multiple columns
df1[['A', 'B']]

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [104]:
# slice of rows
df1[:2]
df1[2:3]

    A   B   C   D Key1
2  A2  B2  C2  D2  doo

In [105]:
# selecting specific rows and columns .loc[[row,row], [col, col]]
df1.loc[[0,2], ['C', 'D']]

    C   D
0  C0  D0
2  C2  D2

In [48]:
# slicing specific rows and columns using ONLY integers, .iloc[row:row, col:col]
df1.iloc[1:3, 0:3]

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [49]:
# listing specific rows and columns using ONLY integers, .iloc[[row,row,row...], [col,col,col...]]
df1.iloc[[1,3], [2,4]]

    C  Key1
1  C1    de
3  C3  dell

## Dataframe Methods for Cleaning/Analyzing Data

### *Boolean Masking*

In [50]:
# filtering a dataframe based on a boolean
df_csv.Species == 'Iris-setosa'

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [109]:
one_species_df = df_csv[df_csv.Species == 'Iris-setosa']
#print(one_species_df)
small_petal = df_csv[df_csv.PetalLengthCm < 1.5]
#print(small_petal)
small_petal_Iris = df_csv[(df_csv.PetalLengthCm < 1.3) & (df_csv.Species == 'Iris-setosa')]
#print(small_petal_Iris)
small_or_large_petal = df_csv[(df_csv.PetalLengthCm == 1.0) | (df_csv.PetalLengthCm == 1.7)]
print(small_or_large_petal)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  \
5    6            5.4           3.9            1.7           0.4  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa

    SepalWidthM
5         0.039
18        0.038
20        0.034
22        0.036
23        0.033

### *Statistics*

In [110]:
# summary statistics
df_csv.describe() # excludes categorical data like Species column

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalWidthM
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.054000,3.758667,1.198667,0.030540
std,43.445368,0.828066,0.433594,1.764420,0.763161,0.004336
min,1.000000,4.300000,2.000000,1.000000,0.100000,0.020000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,0.028000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,0.030000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,0.033000
max,150.000000,7.900000,4.400000,6.900000,2.500000,0.044000

In [53]:
# individual statistical methods
count = df_csv.count()
mean = df_csv.mean()
std = df_csv.std()
print("Count: {}, Mean: {}, STD: {}".format(count, mean, std))

Count: Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
SepalWidthM      150
dtype: int64, Mean: Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
SepalWidthM       0.030540
dtype: float64, STD: Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
SepalWidthM       0.004336
dtype: float64

In [112]:
# you can combine methods
df_csv.mean().sum() # takes the mean of each column, then sums thoses means
df_csv.count().sum() # counts all the cells in the column, then sums the count

1050

### *Groupby and Pivot*

In [55]:
# create a groupby object
gb_object = df_csv.groupby(by ='Species',axis=0) #axis: 0 = column, 1=rows
type(gb_object)

pandas.core.groupby.DataFrameGroupBy

In [113]:
# Apply an aggragate to the groupby object
gb_object.mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,SepalWidthM
Species,,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244,0.03418
Iris-versicolor,75.5,5.936,2.770,4.260,1.326,0.02770
Iris-virginica,125.5,6.588,2.974,5.552,2.026,0.02974

# other possible aggragates to the groupby object
gb.agg        gb.boxplot    gb.cummin     gb.describe   gb.filter     gb.get_group  gb.last       gb.median     gb.ngroups    gb.plot       gb.rank       gb.std        gb.transform
gb.aggregate  gb.count      gb.cumprod    gb.dtype      gb.first      gb.groups     gb.hist       gb.max        gb.min        gb.nth        gb.prod       gb.resample   gb.sum        gb.var
gb.apply      gb.cummax     gb.cumsum     gb.fillna     gb.head       gb.indices    gb.mean       gb.ohlc       gb.quantile   gb.size       gb.tail       gb.weight

In [117]:
# create piviot table 
piviot_df = pd.pivot_table(df_csv, index=['Species', 'PetalWidthCm'], aggfunc=np.sum)
piviot_df

                                Id  PetalLengthCm  SepalLengthCm  \
Species         PetalWidthCm
Iris-setosa     0.1            143            8.5           29.0
                0.2            706           40.4          139.3
                0.3            193           10.0           34.8
                0.4            165           11.0           37.1
                0.5             24            1.7            5.1
                0.6             44            1.6            5.0
Iris-versicolor 1.0            506           25.4           37.9
                1.1            250           10.7           16.2
                1.2            437           21.2           28.9
                1.3           1038           54.3           76.5
                1.4            486           31.5           44.5
                1.5            682           45.8           61.9
                1.6            227           14.3           18.3
                1.7             78            5.0            6.7
                1.8             71            4.8            5.9
Iris-virginica  1.4            135            5.6            6.1
                1.5            254           10.1           12.3
                1.6            130            5.8            7.2
                1.7            107            4.5            4.9
                1.8           1370           59.2           70.9
                1.9            635           26.6           31.7
                2.0            750           33.3           39.9
                2.1            716           34.7           41.5
                2.2            356           18.1           20.6
                2.3           1073           45.6           55.3
                2.4            393           16.3           18.8
                2.5            356           17.8           20.2

                              SepalWidthCm  SepalWidthM
Species         PetalWidthCm
Iris-setosa     0.1                   19.4        0.194
                0.2                   94.9        0.949
                0.3                   23.3        0.233
                0.4                   26.5        0.265
                0.5                    3.3        0.033
                0.6                    3.5        0.035
Iris-versicolor 1.0                   16.6        0.166
                1.1                    7.4        0.074
                1.2                   13.7        0.137
                1.3                   35.7        0.357
                1.4                   20.7        0.207
                1.5                   28.8        0.288
                1.6                    9.4        0.094
                1.7                    3.0        0.030
                1.8                    3.2        0.032
Iris-virginica  1.4                    2.6        0.026
                1.5                    5.0        0.050
                1.6                    3.0        0.030
                1.7                    2.5        0.025
                1.8                   32.1        0.321
                1.9                   13.4        0.134
                2.0                   18.1        0.181
                2.1                   18.2        0.182
                2.2                    9.6        0.096
                2.3                   24.7        0.247
                2.4                    9.3        0.093
                2.5                   10.2        0.102

In [118]:
# create piviot table 
pd.pivot_table(df_csv, values=['SepalWidthCm'], index=['Species'], aggfunc= np.sum)

                 SepalWidthCm
Species
Iris-setosa             170.9
Iris-versicolor         138.5
Iris-virginica          148.7

In [126]:
# remove null values
df_csv[df_csv != df_csv.isnull()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalWidthM
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.035
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.030
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.032
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.031
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.036
5,6,5.4,3.9,1.7,0.4,Iris-setosa,0.039
6,7,4.6,3.4,1.4,0.3,Iris-setosa,0.034
7,8,5.0,3.4,1.5,0.2,Iris-setosa,0.034
8,9,4.4,2.9,1.4,0.2,Iris-setosa,0.029
9,10,4.9,3.1,1.5,0.1,Iris-setosa,0.031
10,11,5.4,3.7,1.5,0.2,Iris-setosa,0.037
11,12,4.8,3.4,1.6,0.2,Iris-setosa,0.034
12,13,4.8,3.0,1.4,0.1,Iris-setosa,0.030
13,14,4.3,3.0,1.1,0.1,Iris-setosa,0.030
14,15,5.8,4.0,1.2,0.2,Iris-setosa,0.040
15,16,5.7,4.4,1.5,0.4,Iris-setosa,0.044
16,17,5.4,3.9,1.3,0.4,Iris-setosa,0.039
17,18,5.1,3.5,1.4,0.3,Iris-setosa,0.035
18,19,5.7,3.8,1.7,0.3,Iris-setosa,0.038
19,20,5.1,3.8,1.5,0.3,Iris-setosa,0.038
20,21,5.4,3.4,1.7,0.2,Iris-setosa,0.034
21,22,5.1,3.7,1.5,0.4,Iris-setosa,0.037
22,23,4.6,3.6,1.0,0.2,Iris-setosa,0.036
23,24,5.1,3.3,1.7,0.5,Iris-setosa,0.033
24,25,4.8,3.4,1.9,0.2,Iris-setosa,0.034
25,26,5.0,3.0,1.6,0.2,Iris-setosa,0.030
26,27,5.0,3.4,1.6,0.4,Iris-setosa,0.034
27,28,5.2,3.5,1.5,0.2,Iris-setosa,0.035
28,29,5.2,3.4,1.4,0.2,Iris-setosa,0.034
29,30,4.7,3.2,1.6,0.2,Iris-setosa,0.032
...,...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica,0.032
121,122,5.6,2.8,4.9,2.0,Iris-virginica,0.028
122,123,7.7,2.8,6.7,2.0,Iris-virginica,0.028
123,124,6.3,2.7,4.9,1.8,Iris-virginica,0.027
124,125,6.7,3.3,5.7,2.1,Iris-virginica,0.033
125,126,7.2,3.2,6.0,1.8,Iris-virginica,0.032
126,127,6.2,2.8,4.8,1.8,Iris-virginica,0.028
127,128,6.1,3.0,4.9,1.8,Iris-virginica,0.030
128,129,6.4,2.8,5.6,2.1,Iris-virginica,0.028
129,130,7.2,3.0,5.8,1.6,Iris-virginica,0.030
130,131,7.4,2.8,6.1,1.9,Iris-virginica,0.028
131,132,7.9,3.8,6.4,2.0,Iris-virginica,0.038
132,133,6.4,2.8,5.6,2.2,Iris-virginica,0.028
133,134,6.3,2.8,5.1,1.5,Iris-virginica,0.028
134,135,6.1,2.6,5.6,1.4,Iris-virginica,0.026
135,136,7.7,3.0,6.1,2.3,Iris-virginica,0.030
136,137,6.3,3.4,5.6,2.4,Iris-virginica,0.034
137,138,6.4,3.1,5.5,1.8,Iris-virginica,0.031
138,139,6.0,3.0,4.8,1.8,Iris-virginica,0.030
139,140,6.9,3.1,5.4,2.1,Iris-virginica,0.031
140,141,6.7,3.1,5.6,2.4,Iris-virginica,0.031
141,142,6.9,3.1,5.1,2.3,Iris-virginica,0.031
142,143,5.8,2.7,5.1,1.9,Iris-virginica,0.027
143,144,6.8,3.2,5.9,2.3,Iris-virginica,0.032
144,145,6.7,3.3,5.7,2.5,Iris-virginica,0.033
145,146,6.7,3.0,5.2,2.3,Iris-virginica,0.030
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0.025
147,148,6.5,3.0,5.2,2.0,Iris-virginica,0.030
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0.034
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0.030